# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Frontend
node_modules/
dist/
dist-ssr/
*.local
.parcel-cache/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.coverage
htmlcov/
build/
develop-eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# OS
.DS_Store
Thumbs.db
